$fbBlue: #1597e5;

@mixin flex-row-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 5px;
}
.catagoriesContainer {
  position: fixed;
  width: 300px;
  height: 100vh;
  margin-right: 150px;
  &:hover {
    overflow-y: scroll;
  }
}
.catagories {
  @include flex-row-center();
  flex-direction: column;
  margin: 0 5px;
  margin-left: 10px;
  width: 250px;

  div {
    @include flex-row-center();
    min-width: 200px;
    margin: 0 8px;
    padding: 8px;
    // background-color: hotpink;
    &:hover {
      background-color: #cddeff;
    }
    H3 {
      margin: 0 15px;
    }
    span {
      min-width: 20px;
      font-size: 22px;
      color: $fbBlue;
      // background-color: greenyellow;
    }
    .groups {
      font-size: 15px;
      padding: 5px;
      background-color: $fbBlue;
      color: white;
      border-radius: 20px;
    }
    .tag {
      color: #e900ff;
    }
    .flag,
    .jobs {
      color: #ffbd35;
    }
    .arrow {
      color: black;
      font-size: 12px;
    }
  }
  hr {
    width: 250px;
  }
  p {
    line-height: 2px;
    font-size: 20px;
  }
  .h4div {
    @include flex-row-center();
    align-items: flex-start;
    margin: 0;
    h4 {
      margin: 0;
      letter-spacing: 1px;
      color: #2c272e;
    }
  }
}
