$fbBlue: #1597e5;

@mixin flex-row-center {
  display: flex;
  justify-content: flex-start;
  // flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.catagories {
  @include flex-row-center();
  flex-direction: column;
  margin: 0 5px;
  div {
    @include flex-row-center();
    min-width: 200px;
    margin: 0 8px;
    padding: 8px;
    // background-color: hotpink;
    &:hover {
      background-color: #cddeff;
    }
    H3 {
      margin: 0 15px;
    }
    span {
      min-width: 20px;
      font-size: 22px;
      color: $fbBlue;
      // background-color: greenyellow;
    }
    .groups {
      font-size: 15px;
      padding: 5px;
      background-color: $fbBlue;
      color: white;
      border-radius: 20px;
    }
    .tag {
      color: #e900ff;
    }
    .flag,
    .jobs {
      color: #ffbd35;
    }
    .arrow {
      color: black;
      font-size: 12px;
    }
  }
}
