$fbBlue: #1597e5;
@mixin flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.newsCard {
  margin: 10px 50px;
  @include flex-row();
  flex-direction: column;
  background-color: white;
  min-width: 500px;
  box-shadow: 1px 1px 2px gray;
  border-radius: 8px;
  .sender {
    @include flex-row();
    min-width: 500px;
    border-bottom: 1px solid #d3dedc;
    H3 {
      margin: 0;
    }
    .sname {
      @include flex-row();
      flex-direction: column;
      margin: 5px;
      div {
        @include flex-row();
        align-items: flex-start;
        h5,
        span {
          margin: 0 5px;
          color: #6e7582;
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
  }
  .share {
    @include flex-row();
    margin: 0 20px;
    border-bottom: 1px solid #d3dedc;
    min-width: 400px;
    span {
      margin: 5px 20px;
      background-color: $fbBlue;
      border-radius: 25px;
      padding: 5px;
      width: 15px;
      text-align: center;
      height: 15px;
      color: white;
      font-size: 13px;
    }
    .text {
      @include flex-row();
      margin: 5px 0;
      margin-left: 230px;
      h5 {
        font-weight: 200;
        margin: 0 3px;
        margin-right: 10px;
      }
    }
  }
  img {
    margin-bottom: 0;
  }
  .icons {
    @include flex-row();
    align-items: center;
    margin: 10px;
    span {
      @include flex-row();
      margin: 0 40px;
      H3 {
        margin: 0 5px;
        color: gray;
      }
      i {
        color: gray;
        font-size: 20px;
      }
    }
  }
}
