$fbBlue: #1597e5;
@mixin flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

%card {
  min-height: 160px;
  min-width: 110px;
  box-shadow: 1px 1px 2px gray;
  border-radius: 8px;
  margin: 0 5px;
}

.storycard {
  @include flex-row();
}

.ownercard {
  @include flex-row();
  position: relative;
  flex-direction: column;
  background-color: white;
  @extend %card;
  img {
    height: 150px;
    width: 110px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
  }
  span {
    position: absolute;
    font-size: 13px;
    top: 130px;
    left: 40px;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: $fbBlue;
    padding: 5px;
    min-width: 15px;
    max-height: 15px;
    text-align: center;
    color: white;
  }

  h4 {
    margin: 6px 15px;
    font-size: 14px;
  }
}
